$backgroundColor: rgb(255, 255, 255);
$buttonBlue: rgb(72, 72, 233);

body {
  background-color: $backgroundColor;
}

#OURSTORE {
  background-color: $backgroundColor;
}

#OURSTORE:hover {
  cursor: pointer;
  background-color: darken($backgroundColor, 5);
}

#active {
  background-color: darken($backgroundColor, 5);
}

button.blue {
  background-color: $buttonBlue;
  color: white;
}

svg.trashButton {
  background-color: $backgroundColor;
}

svg.trashButton:hover {
  background-color: darken($backgroundColor, 5);
}

ul {
  background-color: darken($backgroundColor, 2);
  border-bottom: 5px gray dashed;
}
